[server]
  name = "demo-chatroom"
  addr = ":8888"

[server.logger]
  level = "debug"

# 数据库相关
[database]
  driver = "mysql"

[mysql]
  dbHost = "****"
  dbPort = "3306"
  dbName = "demo"
  dbParams = "parseTime=true&loc=Local"
  dbUser = "****"
  dbPasswd = "****"

[redis]
  addr = "localhost:6379"

[nats]
  addr = "localhost:4222"

[loglevel]
  database = "debug"
  http = "debug"
  app = "debug"
  chatgpt = "debug"
  message = "debug"
  user = "debug"
  socket = "debug"
  redis = "debug"
  nats = "debug"

[openai]
  apiBase = ""
  apiKey = ""
  systemUser = ""